[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = "pypi"

[packages]
itango = "*"
pytango = "*"
tickit = "==0.2.2"

[dev-packages]
pytest-cov = "*"
flake8 = "*"
mypy = "*"
pytest-mock = "*"
black = "*"


[requires]
python_version = "3.10"

[scripts]
lint = "flake8"
tests = "python -m pytest --cov -s --cov-branch"
